{{#bp-layout direction="col" classNames='p-4 file-container'}}
    {{#bp-layout direction='row'}}
        {{!-- <p class="text-p-small">返回</p> --}}
        {{!-- {{#link-to 'index' classNames='text-p-small' }}
            返回
        {{/link-to}} --}}
		{{#bp-button type="link-subtle" click=(action 'signOut') classNames=""}}
            返回
    	{{/bp-button}}
    {{/bp-layout}}
    {{#bp-layout direction='row' main='between' cross='center' classNames='bg-white p-4 mt-4 mb-4'}}
        <p class="text-title">文件管理</p>
        {{#bp-layout direction='row'}}
			<div>
				<input type="file" name="file" id="file" onchange={{action 'uploadFile'}} value={{tmpFile}} class="inputfile"/>
            	<label for="file">上传文件</label>		
			</div>
			{{!-- <div id="upload" class="upload-file" {{action 'uploadFile'}}>
				上传文件
			</div> --}}
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction='col' classNames='table-area'}}
        <table class="table stall-point-table bg-white">
            <thead class="table-head">
                <th>文件名称</th>
                <th>修改时间</th>
                <th>描述</th>
                <th>操作</th>
            </thead>
            <tbody class="table-body">
                {{#each files as |item|}}
                    <tr local-class="title m-2">
                        <td>
                            {{#bp-layout cross="center"}}
                                <img src='/images/icon_generic_medium@3x.png' alt="" class="file-name-img">
                                <span class="ml-2 name">{{item.name}}</span>
                            {{/bp-layout}}
                        </td>
                        <td>{{item.uploadtime}}</td>
                        <td>{{item.describe}}</td>
                        <td><img src='/images/icon_download.png' alt="download" {{action 'download' item}}></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/bp-layout}}
{{/bp-layout}}
{{outlet}}
